
@media only screen and (min-width: 768px) {

* {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font family: Open Sans;
}


body {
    background-color: #f9fafc;
}



a {
    float: right;
    padding: 10px;
    text-decoration: none;
    color:#69696a;
}

h4 {

    float: left;
    padding: 15px;
    margin: 0;
    font-size: 20px;s
}



h1 {
    font-size:2em;
}



p {
    border-left: 2px #69696a  solid;
    text-align: left;
    padding: 20px
}



nav {
    width: 83%;
}



/* Classes ------------------- */



.highlight {
    background-color: #000;
    color:#f9fafc; 
    border-radius: 2em;
    width: 6%;
    text-align: center;
}



.content-1 {

    padding-left: 10px;
    width: 45%;
    padding-top: 60px;
    float: left;
}



.clear{
    clear: both;
}





/* Circles------------ */



.content-2 {
    float: right;
    position: relative;
    }



.circle-1 {

    height: 250px;
    width: 250px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 60%;
   position: absolute;
   right: 330px;
   top: 140px;

}



.circle-2 {

    height: 100px;
    width: 90px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 100%;
    position: absolute;
    right: 260px;
    top: 170px;
}



.circle-3 {

    height: 160px;
    width: 160px;
    background-color:rgba(247, 193, 162, 0.7);
    border-radius: 100%;
    position: absolute;
    top: 250px;
    right: 230px;

}



.highlight-2 {

    background-color: #000;
    color:#f9fafc; 
    border-radius: 2em;
    width: 6%;
    margin-right: 640px;
    margin-top: 460px;
    position: fixed;

}

}